@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="card">
            <div class="card-body">
                <iframe src="@Url.Action("Builder", "Form", new { path = ViewBag.Path})" width="100%" height="1020" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>